<form [formGroup]="productForm">
    <div class="form-group">
        <input type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload>
    </div>
    <input type="text" class="form-control" id="title" placeholder="title" formControlName="title" />
    <br>
    <input type="number" class="form-control" id="price" placeholder="price" formControlName="price" />
    <br>
    <input type="category" class="form-control" id="category" placeholder="category" formControlName="category" />
    <br>
    <textarea type="text" rows="3" class="form-control" id="desc" placeholder="description" formControlName="desc"></textarea>
    <br>
    <button type="button" class="btn btn-primary" (click)="addProduct()">Add product</button>
</form>