<div class="row" *ngIf="products">
  <div class="card" style="width: 18rem;" *ngFor="let product of products">
    <img [src]="product.image" class="card-img-top" alt="product image">
    <div class="card-body">
      <div class="title">{{product.title}}</div>
      <div class="price">Prie: {{product.price}} </div>
      <div class="category">category: {{product.category}}</div>
      <div class="desc">{{product.description}}</div>
      <button type="button" (click)="navigateToPageDetails(product.id)" class="btn btn-primary btn-block">View details</button>
    </div>
  </div>
</div>