.card {
    margin-top: 28px;
    margin-left: 22px;
    .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8px;
    }
    img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }
    .desc {
        margin: 8px 0;
    }

}